<span id="share-page">
    <a href="https://twitter.com/intent/tweet?text={{ page.social_title }}&url={{ site.url }}{{ page.url }}&via={{ site.footer-links.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="svg-icon twitter"></i></a>

    <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="svg-icon facebook"></i></a>

    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.social_title }}&summary={{ page.social_description }}&source={{ page.domain }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><i class="svg-icon linkedin"></i></a>

</span>